<form class="form" action="/answer" method="get" data-turbo="false">
  <input class="form-control" type="text" name="question" placeholder="answer?">
  <button type="submit" class="btn btn-primary mt-4">Ask Away!</button>
</form>